<%- include('../partials/userHeader') %>
<section class="cart" style="background-color: #f5f5f5">
  <div class="container pb-5">
   <div class="product">Forgot to add something to your cart? Shop around then come back to pay!</div>
  </div>

</section>
<%- include('../partials/footer') %>